body {
  font-size: 16px;
  font-family: sans-serif;
}


ul.threads {
  padding-left: 0;
}

ul.threads li {
  list-style-type: none;
}

.post-listing {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-listing a {
  flex: 1 1 0%;
}

.reply-count-block{
  display: block;
}

.post-listing .reply-count-block {
  text-align: center;
}

.post-listing .reply-count-block .count {
  display: block;
  text-align: center;
}
