ul.posts {
  padding-left: 0;
}

ul.posts li {
  list-style-type: none;
}

.post {
  background-color: #c1c1c1;
}

.post .post-id {
  background-color: #dbdbdb;;
}

.post .username {
  font-size: 1.2rem;
  font-weight: bold;
}
